<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
     {{!-- navbar code  --}}

     {{>navbar}}

     <!-- main header  -->

     <div class="container-fluid main_header" >
         <div class="row">
              <div class="col-md-10 col-12 mx-auto">
                  <div class="row">
                     <!-- left side div -->
                     <div class="col-md-12 col-12 main_header_left align-items-center">
                            <figure class="errorimg">
                                <img src="images/404.png" alt="rohit" class="img-fluid" title="rohit weather"> 
                            </figure>
                    
                         <p>Welcome to Rohit's World</p>
                         <h1>{{errorMsg}}</h1>
                         <a href="/" target="_Rohit"><button class="btn">Go Back!</button></a>
                        </div>
                  </div>
              </div>
         </div>
     </div>     

     <!-- footer code -->

     {{>footer}}
</body>
</html>