<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
     {{!-- navbar code  --}}

     {{>navbar}}

     <!-- main header  -->

     <div class="container-fluid main_header" >
         <div class="row">
              <div class="col-md-10 col-12 mx-auto">
                  <div class="row">
                     <!-- left side div -->
                     <div class="col-md-6 col-12 main_header_right">
                            <figure>
                                <img src="images/about.png" alt="rohit" class="img-fluid" title="rohit weather"> 
                            </figure>
                     </div>
                       <!-- right side div -->
                     <div class="col-md-6 col-12 main_header_left align-item-center">
                         <p>Welcome to Rohit's World</p>
                         <h1>I Am A <span class="text_clr">Mern Stack Developer</span>Student And Part time worker</h1>
                         <a href="https://github.com/rohitloharr" target="_Rohit"><button>About me</button></a>
                        </div>
                  </div>
              </div>
         </div>
     </div>     

     <!-- footer code -->

     {{>footer}}
</body>
</html>