<!DOCTYPE html>
<html lang="en">
<head>
     {{>headerlinks}}
</head>
<body>
    {{!-- navbar code --}}
     {{>navbar}}  

     <!-- main header  -->

     <div class="container-fluid main_header" >
         <div class="row">
              <div class="col-md-10 col-12 mx-auto">
                  <div class="main_content">
                      <form class="temp_form">
                          <input type="text" id="cityname" placeholder="Enter your city name" autocomplete="off">
                          <input type="submit" value="search" id="submitBtn">

                      </form>
                  </div>
                  <div class="tempInformation">
                      <div class="top_layer">
                          <p id="day">Tuesday</p>
                          <p id="today_date">13 OCT</p>
                      </div>
                      <div class="main_layer">
                          <p id="city_name">Get Output Here</p>
                          <div class="middle_layer data_hide">
                              <p id="temp"><span id="temp_real_val">0</span><sup>o</sup></p>
                              <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i></p>
                          </div>
                      </div>
                  </div>

              </div>
         </div>
     </div>     

     <!-- footer code -->
     
      {{>footer}}

      <script src="../../public/js/main.js"></script>
     <script>
         const getCurrentDay = () =>{
          var weekday = new Array(7);
                 weekday[0] = "SUNDAY";
                 weekday[1] = "MONDAY";
                 weekday[2] = "TUESDAY";
                 weekday[3] = "WEDNESDAY";
                 weekday[4] = "THURSDAY";
                 weekday[5] = "FRIDAY";
                 weekday[6] = "SATURDAY";
              
              let currentTime = new Date();
              days = weekday[currentTime.getDay()];
              let day = document.getElementById("day");
              day.innerText = days ;
         };
         const getCurrentTime = () => {
           var months = [
             "Jan",
             "Feb",
             "Mar",
             "Apr",
             "May",
             "June",
             "July",
             "Aug",
             "Sept",
             "Oct",
             "Nov",
             "Dec",
           ];
           var now = new Date();
           var month = months[now.getMonth()];
           var date = now.getDate();
           let today_date = document.getElementById("today_date");
           
           return `${date} ${month}`
         }
  
      getCurrentDay();
      today_date.innerHTML = getCurrentTime();
     </script>

</body>
</html>